# ========================
# Eclipse / IDE files
# ========================
.metadata/
.recommenders/
.settings/
.project
.classpath

# ========================
# Maven / Build files
# ========================
target/
**/target/

# ========================
# Logs
# ========================
*.log

# ========================
# OS files
# ========================
.DS_Store
Thumbs.db

# ========================
# VS Code
# ========================
.vscode/